@model expenceTracker.Models.actualExpence

@{
    ViewData["Title"] = "Create";
}

<h1>Create Payment for @TempData["Category"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="category" class="control-label">Expense Category</label>
                <input asp-for="category" class="form-control" disabled/>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datePayed" class="control-label">Date</label>
                <input asp-for="datePayed" class="form-control" />
                <span asp-validation-for="datePayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="finalCost" class="control-label">Amount</label>
                <input asp-for="finalCost" type="number" class="form-control" />
                <span asp-validation-for="finalCost" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="userId" />
            <input type="hidden" asp-for="expenceId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="expectedExpences" asp-action="Index" asp-route-expenceId="@TempData.Peek("expenceId")" asp-route-userId="@TempData.Peek("userId")">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
