@model expenceTracker.Models.expectedExpences

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Expected Expences</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" required />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="type" class="control-label">Type</label>
                <select asp-for="type" class="form-control" required>
                    <option value="" selected disabled>Select Expense Type</option>
                    <option value="Variable">Variable</option>
                    <option value="Recurring">Recurring</option>
                </select>
            </div>

            <div class="form-group" id="frequencyType" style="display: none;">
                <label for="frequency" class="control-label">Frequency</label>
                <select asp-for="frequency" class="form-control" required>
                    <option value="" selected disabled>Select Frequency</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Biweekly">Biweekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="predictedCost" class="control-label">Predicted Cost</label>
                <input asp-for="predictedCost" type="number" class="form-control" required />
                <span asp-validation-for="predictedCost" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="userId" value="@ViewBag.userId" />
            <input type="hidden" asp-for="expenceId" value="@ViewBag.expenceId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="expectedExpences" asp-action="Index" asp-route-expenceId="@ViewBag.expenceId" asp-route-userId="@ViewBag.userId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("type").addEventListener("change", function () {
            var freqValue = this.value;
            var frequencyTypes = document.getElementById("frequencyType");

            if (freqValue === "Recurring") {
                frequencyTypes.style.display = "block";
            } else {
                frequencyTypes.style.display = "none";
            }
        });
    </script>
}
