@model expenceTracker.Models.actualExpence

@{
    ViewData["Title"] = "Resolve  Expence";
}

<h1>Resolve</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResolveExpence" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="finalCost" class="control-label">Final Cost</label>
                <input asp-for="finalCost" class="form-control" value="@ViewBag.finalCost" />
                <span asp-validation-for="finalCost" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="userId" class="form-control" value="@ViewBag.profileId" />


            <input type="hidden" asp-for="expenceId" class="form-control" value="@ViewBag.expenceId" />

            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />        
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datePayed" class="control-label">Date entered</label>
                <input asp-for="datePayed" class="form-control" />
                <span asp-validation-for="datePayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ResolveExpence" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
